<section class="section-container" *ngIf="topic">
  <div class="details">
    <div class="back">
      <a routerLink="">
        <lucide-icon name="chevron-left"></lucide-icon>
        Retour
      </a>
    </div>
    <div class="details__question">
      <div class="question__header">
        <h2 class="question__title">{{ topic.title }}</h2>
        <div class="question__report">
          <button (click)="reportTopic()">
            <lucide-icon
              [ngClass]="{
                reported: topic.isReported,
                notReported: !topic.isReported
              }"
              name="flag"
            ></lucide-icon>
          </button>
          <button (click)="deleteTopic(topic.tid)" *ngIf="topic.isReported">
            <lucide-icon name="trash"></lucide-icon>
          </button>
        </div>
      </div>
      <p class="question__content">{{ topic.content }}</p>
      <div class="question__footer">
        <div class="question__languages">
          <div>Docker</div>
        </div>
        <div class="question__info">
          <div>
            <lucide-icon name="user"></lucide-icon>
            <p class="question__author">{{ topic.author }}</p>
          </div>
          <p class="question__date">{{ topic.postDate }}</p>
        </div>
      </div>
    </div>
    <ng-container *ngFor="let answer of topic.answers">
      <div class="details__answer">
        <div class="answer__container">
          <div class="answer__header">
            <button (click)="reportAnswer(answer.tid)">
              <lucide-icon
                [ngClass]="{
                  reported: answer.reported,
                  notReported: !answer.reported
                }"
                name="flag"
              ></lucide-icon>
            </button>
            <button
              (click)="deleteAnswer(topic.tid, answer.tid)"
              *ngIf="answer.reported"
            >
              <lucide-icon name="trash"></lucide-icon>
            </button>
          </div>
          <p class="answer__content">{{ answer.content }}</p>
          <div class="answer__info">
            <div>
            <lucide-icon name="user"></lucide-icon>
            <p class="answer__author">{{ answer.user.username }}</p>
            </div>
            <p class="answer__date">{{ answer.postDate }}</p>
          </div>
        </div>
      </div>
    </ng-container>
    <div class="details_post">
      <form
        class="post"
        id="addAnswer"
        (ngSubmit)="addAnswer()"
        ngNativeValidate
      >
        <div class="post__input-container">
          <label for="content">Your message : </label
          ><textarea
            rows="5"
            name="content"
            [(ngModel)]="answerContent"
            required
          ></textarea>
        </div>
        <div class="post__button-container">
          <button>Submit</button>
        </div>
      </form>
    </div>
  </div>
</section>
