@import 'conf';

textarea {
    background-color: #171717;
}

.section-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.back a {
    display: flex;
    align-items: center;
    font-size: 14px;
    text-decoration: none;

    lucide-icon {
        margin-right: 0.5rem;
    }
}

.details {
    display: flex;
    flex-direction: column;
    margin-top: 4rem;
    margin-bottom: 4rem;
    width: 40%;

    &__question {
        margin-top: 2rem;
        display: flex;
        flex-direction: column;
        margin-bottom: 4rem;
        background-color: $gray-800;
        padding: 1rem;
        border-radius: 0.25rem;
    }

    &__answer {
        margin-bottom: 2rem;
        padding-bottom: 1rem;
        border-bottom: solid 1px rgba($color: #e2e8f0, $alpha: 1);
    }

    &__post {
        display: flex;
        flex-direction: column;
    }
}

.question {
    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__report {
        display: flex;
        gap: 1rem;
    }

    &__content {
        margin-bottom: 2rem;
    }

    &__footer {
        display: flex;
    }
    &__languages {
        display: flex;
        gap: 1rem;
        width: 60%;

        div {
            padding: 0.25rem 0.5rem;
            background-color: #727272;
            border-radius: 1rem;
        }
    }

    &__info {
        display: flex;
        align-items: center;
        justify-content: right;
        gap: 1rem;
        width: 40%;

        div {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 0.4rem;
        }
    }

    &__author::after {
        content: '|';
        margin-left: 1rem;
    }
}

.answer {
    &__header {
        display: flex;
        justify-content: flex-end;
        gap: 1rem;
    }

    &__container {
        display: flex;
        flex-direction: column;
    }
    &__content {
        margin-bottom: 1rem;
    }
    &__info {
        display: flex;
        justify-content: right;
        align-items: center;
        gap: 1rem;

        div {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 0.4rem;
        }
    }

    &__author::after {
        content: '|';
        margin-left: 1rem;
    }
}

.post {
    display: flex;
    flex-direction: column;

    &__input-container {
        display: flex;
        flex-direction: column;

        label {
            margin-bottom: 1rem;
        }
    }

    &__button-container {
        display: flex;
        justify-content: right;
        margin-top: 2rem;

        button {
            color: #000;
            background-color: $amber-500;
            padding: 0.5rem 2rem;
            border-radius: 0.25rem;
            border: none;
            cursor: pointer;
        }
    }
}

.reported {
    fill: $red-600;
    color: $red-600;
}

.notReported {;
    color: $gray-400;
}

[name="trash"] {
    color: $gray-400;
}
