<section class="section-container">
  <div class="dashboard">
    <h2>Dashboard</h2>
    <div class="add-topic-container">
      <a class="add-topic" routerLink="new-topic">Post a question</a>
    </div>
    <div class="filter-language">
      <label for="language-select">Choose a language:</label>
      <select (change)="updateList()" [(ngModel)]="selectedLanguage" name="languages" id="language-select" required>
        <option value="">--Choose a language--</option>
        <option value="JAVA">Java</option>
        <option value="SPRING">Spring</option>
        <option value="JAVASCRIPT">Javascript</option>
        <option value="HTML">Html</option>
        <option value="CSS">Css</option>
        <option value="NODEJS">NodeJS</option>
        <option value="PHP">Php</option>
        <option value="RUBY">Ruby</option>
      </select>
    </div>
    <app-topics-list></app-topics-list>
  </div>
</section>