@import 'conf';

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dashboard {
    width: 40vw;
}

.filter-language {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    [for="language-select"] {
        margin-bottom: 0.5rem;
    }
}

.add-topic-container {
    display: flex;
    justify-content: flex-end;

    a {
        background-color: $amber-500;
        padding: 0.25rem 2rem;
        text-decoration: none;
        border-radius: 0.25rem;
        color: $gray-900;
        font-weight: 700;
    }
}