<section>
  <div class="section-container">
    <div class="back">
      <a routerLink="">
        <lucide-icon name="chevron-left"></lucide-icon>
        Back to dashboard
      </a>
    </div>
    <h1>Post your question</h1>

    <form id="addTopic" (ngSubmit)="addTopic()" ngNativeValidate>
      <div class="add-topic__input-container">
        <label for="title">Question</label
        ><input type="text" name="title" [(ngModel)]="topic.title" required />
      </div>
      <div class="add-topic__input-container">
        <label for="content">Message</label
        ><textarea
          rows="10"
          name="content"
          [(ngModel)]="topic.content"
          required
        ></textarea>
      </div>
      <div class="add-topic__input-container">
        <label for="language-select">Choose a language:</label>
        <select [(ngModel)]="topic.language" name="languages" id="language-select" required>
          <option value="">--Please choose an option--</option>
          <option value="NONE">None</option>
          <option value="JAVA">Java</option>
          <option value="SPRING">Spring</option>
          <option value="JAVASCRIPT">Javascript</option>
          <option value="HTML">Html</option>
          <option value="CSS">Css</option>
          <option value="NODEJS">NodeJS</option>
          <option value="PHP">Php</option>
          <option value="RUBY">Ruby</option>
        </select>
      </div>
      <div class="add-topic__button-container">
        <button>Post your question</button>
      </div>
    </form>
  </div>
</section>
