@import 'conf';

section {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.section-container {
    width: 40%;
}

h1 {
    font-size: 36px;
    font-weight: 700;
}

.back a {
    display: flex;
    align-items: center;
    font-size: 14px;
    text-decoration: none;

    lucide-icon {
        margin-right: 0.5rem;
    }
}

form div {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    margin-bottom: 1.5rem;

    label {
        padding-left: 0.5rem;
        margin-bottom: 0.5rem;
    }

    input {
        height: 2rem;
    }

    input,
    textarea {
        background: rgba(255, 255, 255, 0.08);
        border: none;
        border-radius: 0.5rem;
        padding-left: 0.5rem;
    }

    textarea {
        resize: none;
    }
}

.add-topic__button-container {
    display: flex;
    width: 100%;

    button {
        color: #000;
        background-color: $amber-500;
        padding: 12px 16px;
        border-radius: 0.5rem;
        border: none;
        cursor: pointer;
        font-size: 1.25rem;
    }
}
