@import 'conf';

.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 64px);
}

form {
    width: 50vh;
    p:not(:last-child) {
        display: flex;
        flex-direction: column;
        margin-bottom: 1rem;
    }
    label {
        padding-left: 0.5rem;
        margin-bottom: 0.5rem;
    }
    input {
        height: 2rem;
        background: rgba(255, 255, 255, 0.08);
        border: none;
        border-radius: 0.5rem;
        padding-left: 0.5rem;
        color: #fafafa;
    }

    .button-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;

        button {
            width: 100%;
        }
    }
}

button {
    color: #000;
    background-color: $amber-500;
    padding: 12px 16px;
    border-radius: 0.5rem;
    border: none;
    cursor: pointer;
}
