<section>
    <div class="container">
        <h2>Results</h2>
        <div class="back">
            <a routerLink="">
                <lucide-icon name="chevron-left"></lucide-icon>
                Retour
            </a>
        </div>
        <app-topics-list></app-topics-list>
    </div>
</section>