.back a {
    display: flex;
    align-items: center;
    font-size: 14px;
    text-decoration: none;

    lucide-icon {
        margin-right: 0.5rem;
    }
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    width: 40vw;
}

h2 {
    text-align: center;
}