@import 'conf';

.topic {
    margin-top: 3rem;
    margin-bottom: 3rem;
    background-color: $gray-800;
    border-radius: 0.25rem;
    padding: 0.25rem 1rem 1rem 1rem;
    &__body {
        display: flex;
        margin-bottom: 1rem;
    }

    &__languages {
        display: flex;
        gap: 1rem;
        width: 60%;

        div {
            padding: 0.25rem 0.5rem;
            background-color: #727272;
            border-radius: 1rem;
        }
    }

    &__info {
        display: flex;
        align-items: center;
        justify-content: right;
        gap: 1rem;
        width: 40%;

        div {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 0.4rem;
        }
    }

    &__author::after {
        content: '|';
        margin-left: 1rem;
    }

    button {
        color: #000;
        background-color: $gray-200;
        padding: 0.25rem 1rem;
        border-radius: 0.25rem;
        border: none;
        cursor: pointer;
    }
}