<div class="topic">
  <h3 class="topic__title">{{ topic.title }}</h3>
  <div class="topic__body">
    <div class="topic__languages">
      <div *ngIf="topic.language !== 'NONE'">{{ topic.language }}</div>
    </div>
    <div class="topic__info">
      <div>
        <lucide-icon name="user"></lucide-icon>
        <p class="topic__author">{{ topic.author }}</p>
      </div>
      <p class="topic__date">{{ topic.postDate }}</p>
    </div>
  </div>
  <button [routerLink]="'/topics/' + topic.tid">See more</button>
</div>
