@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");
@import "../node_modules/angular-notifier/styles.scss";
@import 'conf';

body {
    font-family: "Source Sans Pro", sans-serif;
    background-color: $gray-900;
    color: #fff;
}

.section-container {
    padding: 0 2rem;
}

button,
input[type="submit"],
input[type="reset"] {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

select {
    background-color: #171717;
    color: #fafafa;
}

p {
    margin: 0;
}

a,
input,
textarea {
    color: #fafafa;
}
