@import 'conf';

header {
    height: 4rem;
    width: 100%;
    background-color: $amber-500;
}

.header__container {
    display: flex;
    align-items: center;
    padding: 0 2rem;
    height: 100%;

    .header__logo-text {
        margin-left: 1rem;
        color: $gray-900;
    }

    .header__column:not(:nth-child(2)) {
        width: 25%;
    }

    .header__column:nth-child(2) {
        display: flex;
        justify-content: center;
        width: 50%;
        border-radius: 0.5rem;
        background-color: rgba($color: $gray-500, $alpha: 0.2);
    }

    .header__column.left {
        display: flex;
        justify-content: left;

        a {
            display: flex;
            text-decoration: none;
        }

        img {
            width: 3rem;
            cursor: pointer;
        }
    }

    .header__column.right {
        display: flex;
        justify-content: right;
        ul {
            align-items: center;
        }
    }
}

nav {
    ul {
        display: flex;
        gap: 1.5rem;

        .header__nav-link {
            list-style: none;

            a, button {
                font-size: 1.1rem;
                color: $gray-900;
                text-decoration: none;
            }

        }
    }
}

.search-movie-container {
    display: flex;
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;

    lucide-icon {
        display: flex;
        align-items: center;
        color: $gray-900;
        width: 1.25rem;
        height: 100%;
        margin-right: 0.5rem;
    }

    #search-movie {
        outline: none;
        border: none;
        width: 100%;
        font-size: 1.5rem;
        height: 2.5rem;
        background: none;
        color: $gray-900;
    }
}

.active-link {
    font-weight: 700;
}

::placeholder {
    color: $gray-800;
}